html,
body,
* {
  padding: 20px;
  margin: 20px;
  background-color: rgb(114, 158, 216);
}

.header1 {
  font-size: 50px;
  text-align: center;
}
.parent1 {
  display: flex;
  justify-content: space-between;
}

.parent2 {
  display: flex;
  justify-content: space-between;
}

.parent3 {
  display: flex;
  justify-content: space-between;
}

.card {
  border: 5px solid rgb(0, 0, 0);
  box-sizing: content-box;

  align-items: center;
}

.card-img {
  width: 250px;
  height: %;
}
