html,
body,
* {
  padding: 2rem;
  margin: 2rem;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: rgb(114, 158, 216);
}

.header1 {
  font-size: 7rem;
  text-align: center;
  font-family: "Patua One", cursive;
}

.parent {
  display: flex;
  width: 3rem;
  margin-left: 25rem;
  margin-right: 25rem;
}
.card {
  border: 1rem solid rgb(0, 0, 0);
  box-sizing: content-box;
  box-shadow: 2rem 1rem 1rem rgb(25, 68, 162);
}

.otter-img {
  height: 25rem;
}

.proheader {
  font-family: "Crete Round", serif;
  font-size: 3rem;
}
