html,
body,
* {
  padding: 20px;
  margin: 20px;
  background-color: rgb(216, 114, 114);
}

.card1 {
  border: 5px solid rgb(0, 0, 0);
  box-sizing: content-box;
  width: 20%;
  align-items: center;
}

.card-img {
  width: 250px;
}

.card {
  display: flex;
  justify-content: space-between;
}
